body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(10, 67, 223) 0%, rgb(85, 12, 128) 100%); /* w3c */
}

.flex-cardlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;

}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
    
    h1 {
      font-family: 'SEGA LOGO FONT';
      font-weight: 200;
      margin: 2rem 0;
      color: #0ccac4;
    }